<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
    <title>LiveTree Other Column Names Demo</title>
    <%= stylesheet_link_tag('live_tree') %>	
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "live_tree" %>
</head><body>

<h2>LiveTree Other Column Names Demo</h2>

<p><div style="width:300px;height:415px">
    <%= live_tree :tree,
                  :initial_data_root => @root,
                  :on_click_item => "alert('Clicked: ' + item.name + ' (id=' + item.id + ')')" %>
</div></p>

<p>
View source code:
<%= link_to "model", { :controller => "file_system", :initial_file => "/app/models/other_column_names_item.rb" }, { :target => "live_tree_source" } %>
<%= link_to "controller", { :controller => "file_system", :initial_file => "/app/controllers/other_column_names_controller.rb" }, { :target => "live_tree_source" } %>
<%= link_to "view", { :controller => "file_system", :initial_file => "/app/views/other_column_names/index.rhtml" }, { :target => "live_tree_source" } %>
&nbsp;&nbsp;&nbsp;
<a href="/">See other demos</a>
</p>


</body></html>
