.live_tree_item_icon {
    width: 11px;
    height: 9px;
}

.live_tree_branch_expanded_icon {
    background: url(/images/live_tree_branch_expanded_icon_win.gif) no-repeat;
}

.live_tree_branch_collapsed_icon {
    background: url(/images/live_tree_branch_collapsed_icon_win.gif) no-repeat;	
}

.live_tree_item_indent {
    margin-left: 1.3em;
}
