<%= image_tag(item.directory? ? "file_system_directory_icon.gif" : ( FileSystemController::TEXT_EXTENSIONS.include?(File.extname(item.name)) ? "file_system_text_icon.gif" : ( FileSystemController::IMAGE_EXTENSIONS.include?(File.extname(item.name)) ? "file_system_image_icon.gif" : "file_system_unknown_icon.gif" ) )) %>